#createAuction{
    position: relative;
    top:20px;
}
#collapseAuction{
    position: relative;
    top:25px;
    margin-left: 200px;
    margin-right: 200px;
}
.profilePicture {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    }
    .productSection{
        position: relative;
        top: 35px;
    }